* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color:deeppink;
    text-decoration: 3px underline;
    padding: 15px 0px;
}

.section1-wrapper {
    border: 1px solid wheat;
    background-color:crimson;
}

.form-wrapper {
    padding: 20px 10px;
}

.fields {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.fields2 {
    display: flex;
    padding-bottom: 10px;
}

.spec-space {
    padding-top: 15px;
}

.labels {
    width: 12%;
}

.inputs input {
    padding: 7px 70px 7px 6px;
    border-radius: 5px;
}

#input-gender {
    padding-bottom: 10px;
}

.btn {
    padding: 10px 10px;
    background-color: black;
    border: 1px solid red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#date {
    padding-right: 397px;
}

#address {
    padding-right: 70px;
    border-radius: 5px;
}